html {
    background-color: #fffdf6;
    font-family: 'Allerta', sans-serif;
    color: #344c4a;
}
a{
    text-decoration: none;
    color: #344c4a;
}

body{
    margin: 0px;
}

nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-style: solid;
}

.menu{
    display: flex;
    width: 25%;
    justify-content: space-evenly;
}

.logo{
    height: 100px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bio{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.competences{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.group {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 300px;
    margin-right: 300px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
}

.competence{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left-style: solid;
}